{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/media/gallery.css' %}">
{% endblock %}

{% block content %}

<div class="standard-container">
        <h1 class="h1-standard">MY PHOTOS</h1>

        <div class="categories">
                <a href="{% url 'media:photo_list' %}"
                class="{% if not current_category %}active{% endif %}">
                All
                </a>

                {% for value, label in categories %}
                <a href="{% url 'media:photo_list_by_category' value %}"
                class="{% if current_category == value %}active{% endif %}">
                {{ label }}
                </a>
                {% endfor %}
        </div>
</div>

{% include "components/gallery.html" with items=photos %}

<p class="call-to-action">
    <a href="{% url 'media:video_list' %}">MY VIDEOS &xrarr;</a>
</p>

{% endblock %}


  {% block extra_js %}
  <script src="{% static 'js/photos_modal.js' %}"></script>
  {% endblock %}