{% extends "base.html" %}
{% load static %}

{% block content %}

<br />
<div class="resume-container">
    <h1 class="h1-standard">{{ resume.main_title }}</h1>
        {% if resume.resume_file %}
        <a href="{{ resume.resume_file.url }}" download target="_blank"><img src="{% static 'images/docs/pdf.svg' %}" alt="PDF logo" width="60px" height="60px"></a>
        {% endif %}
</div>

<div class="resume-header">
    <div>
        <h2>{{ resume.full_name }}</h1>
            <p>{{ resume.main_info|safe }}</p>
    </div>
    {% if resume.resume_pic %}
    <div>
        <img src="{{ resume.resume_pic.url }}" alt="Vani's resume profile picture">
    </div>
     {% endif %}
</div>

<div class="resume-profile">
    <h2>PROFILE</h2>
    <p>{{ resume.profile|safe }}</p>
</div>

<div class="resume-body">
    <div class="resume-skills-ref">
        <div class="resume-skills">
            <h2>SKILLS</h2>
            {% for skill in resume.skills.all %}
            <p>{{ skill.skill_name }}</p>
            <div class="skill-total">
                    <div class="skill-progress" style="--level: {{ skill.skill_level }}%;"></div>
            </div>
            {% endfor %}
        </div>

        <div class="resume-reference">
            <h2>REFERENCES</h2>
            <ul>
                {% for ref in resume.references.all %}
                <li>{{ ref.ref_fullname }}: {{ ref.ref_phone }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="resume-experience">
        <h2>EXPERIENCE</h2>
        {% for exp in resume.experiences.all %}
        <h3>{{ exp.title }}</h3>
        <p>{{ exp.description|safe }}</p>
        <br />
        {% endfor %}
    </div>
</div>

{% endblock %}