{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pages/showreel.css' %}">
{% endblock %}

{% block content %}
    
    <section class="showreel-container" aria-labelledby="showreel-title">
            <h1 id="showreel-title">{{ showreel.main_title }}</h1>
    </section>
    <section class="showreel_profile">
    {% if showreel.youtube_id %}
        <div>
            <iframe 
                id="showreel_video"
                src="https://www.youtube.com/embed/{{ showreel.youtube_id }}"
                title="Video: {{ showreel.video_title }}"
                referrerpolicy="strict-origin-when-cross-origin"
                allow="fullscreen">
            </iframe>
        </div>
	{% endif%}
        <div>
            {{ showreel.description|safe }}
        </div>
        
    </section>
    <section class="call-to-action">
        <a href="{% url 'media:photo_list' %}" class="call-to-action">My Photos &xrarr;</a>
    </section>
    

{% endblock %}