/* ==========================
   Homepage Hero Section
   ========================== */
:root {
  --header-offset: 64px;
}

   .lp-container {
  min-height: calc(100vh - var(--header-offset));
  display: flex;
  margin: auto 5rem;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 1rem;
  gap: 1.5rem;
 
}

/* Image section */
.lp-left-section img {
  border-radius: 50%;
  filter: grayscale(100%);
}

/* Text section */
.lp-right-section{
  text-align: center;
}

.lp-right-section h1 {
  font-size: clamp(1.8rem, 6vw, 2.5rem);
  line-height: 1.2;
  margin: 0;
}

.lp-right-section article {
  font-size: 1rem;
  margin-top: 1rem;
}



/* ==========================
   Tablet & Up
   ========================== */

@media (min-width: 1024px) {
  .lp-container {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }

  .lp-left-section,
  .lp-right-section {
    flex: 1;
  }

  .lp-right-section article {
    font-size: 1.05rem;
  }

  .lp-left-section img {
    max-width: 100%;
    width: 100%;
    max-height: 600px;
    height: auto;
  }
}