/* ==========================
   Call To Action
   ========================== */

p.call-to-action {
  display: block;
  margin-top: 1.5rem;
  text-align: center;
}

.call-to-action a, a.call-to-action {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  font-weight: 600;
  color: maroon;
  background-color: #eee;
}

.call-to-action a:hover, a.call-to-action:hover {
  font-weight: 700;
}
