/* ==========================
VARIABLES
   ========================== */

:root {
  --nav-height: 54px;
}

/* ==========================
MOBILE FIRST
   ========================== */

/* Mobile nav */
.top-nav {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    height: var(--nav-height);
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 1000;
  }


/*To prevent scrolling when sliding menu is open*/
body.menu-open {
  overflow: hidden;
}

/* Hide desktop nav when using mobile/small device */
.desktop-nav {
  display: none;
}

/* Hamburger button menu section*/

div.hamburger-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  font-weight: 600;
  background-color: #ffffff;
  padding: 0.8rem 1rem;
  
}

button.hamburger {
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

/* Sliding Mobile Menu */

/*Close Button from sliding menu*/
.mobile-close {
  position: absolute;
  top: 1rem;
  right: 1.1rem;
  font-size: 2rem;
  background-color: white !important;
  color: black;
  border: none;
  cursor: pointer;
  line-height: 1;
}

/*Sliding menu*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color:white;
  z-index: 999;
  padding-top: 4rem;
  margin: 0;
  transform: translateY(-250%);
  transition: transform 0.5s ease-in-out;
}

/* Menu open state */
.mobile-menu.open {
  transform: translateY(0);
}

.mobile-menu li {
  list-style: none !important;
  border-bottom: 1px solid #eee;
}

.mobile-menu a {
  display: block;
  padding: 1rem 0;
  font-size: 1.2rem;
}

/* Active link */
.top-nav-active a {
  font-weight: 700;
  color: maroon !important;
}

/* ==========================
   TABLET AND HIGHER BREAKPOINT
   ========================== */

@media (min-width: 1024px) {
  /* Hide mobile nav for larger devices */
  .mobile-nav {
    display: none;
  }
  

  /* Top navigation in tablet and + */
  .top-nav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
  }

  .desktop-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: var(--nav-height);
  }

  ul.left-top-nav, ul.right-top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
  }

  ul.left-top-nav li, ul.right-top-nav li{
    display: inline-block;
    font-size: large;
  }

  .desktop-nav a {
    color: black;
    text-decoration-line: none;
    letter-spacing: 4px !important;
    padding: 0.2rem;
    display: block;
    font-weight: 700;
  }

  .desktop-nav a:hover {
    background-color: #eee;
  }

}