{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Vani | Portfolio{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block meta %}{% endblock %}

  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  {% block extra_css %}{% endblock %}
</head>

<body>

  {% include "base/navbar.html" %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include "base/footer.html" %}

  <script src="{% static 'js/main.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>