<div class="gallery-container">
        {% for item in items %}
                {% if item.image %}
                <div>
                        <div>
                                <img src="{{ item.image.url }}"
                                alt="{{ item.title }}"
                                title="{{ item.title }}">
                        </div>
                        <div class="photo-description">{{ item.description }}</div>
                </div>
                {% endif %}
                {% if item.youtube_id %}
                <div>
                        <div class="video-container" >
                                <iframe 
                                src="https://www.youtube.com/embed/{{ item.youtube_id }}"
                                title="Video: {{ item.title }}"
                                referrerpolicy="strict-origin-when-cross-origin"
                                allow="fullscreen">
                                </iframe>
                        </div>
                        <div class="video-description">{{ item.description }}</div>
                </div>
                {% endif %}
        {% empty %}
        <div class="empty-gallery">No item to display.</div>
        {% endfor %}
</div>