<ul class="gallery-container">
        {% for item in items %}
                {% if item.image %}
                <li role="listitem" class="gallery-item">
                        <img
                                src="{{ item.image.url }}"
                                alt="{{ item.title }}"
                                title="{{ item.title }}"
                                class="gallery-img"
                        >
                        <p class="photo-description">{{ item.description }}</p>
                </li>
                {% endif %}
                {% if item.youtube_id %}
                <li role="listitem" class="gallery-item">
                        <div class="video-container" >
                                <iframe 
                                        src="https://www.youtube.com/embed/{{ item.youtube_id }}"
                                        title="Video: {{ item.title }}"
                                        referrerpolicy="strict-origin-when-cross-origin"
                                        allow="fullscreen">
                                </iframe>
                        </div>
                        <p class="video-description">{{ item.description }}</p>
                </li>
                {% endif %}
        {% empty %}
        <li
                class="empty-gallery"
                role="status"
                aria-live="polite"
        >
                No item to display.
        </li>
        {% endfor %}
</ul>