{% load navigation %}

<header class="top-nav">
    <nav class="top-nav">
        <ul class="left-top-nav">
            <li class="hamburger"><a href="#">&#9776;</a></li>
            <li><a href="{% url 'pages:homepage' %}" class="{% active_class 'homepage' %}">VANISHREE KULKARNI</a></li>
        </ul>
        <ul class="right-top-nav">
            <li><a href="{% url 'pages:about' %}" class="{% active_class 'about' %}">ABOUT VANI</a></li>
            <li><a href="{% url 'pages:resume' %}" class="{% active_class 'resume' %}">RESUME</a></li>
            <li><a href="{% url 'media:photo_list' %}" class="{% active_class 'photo_list' %}">PHOTOS</a></li>
            <li><a href="{% url 'media:video_list' %}" class="{% active_class 'video_list' %}">VIDEOS</a></li>
            <li><a href="{% url 'contact:contact' %}" class="{% active_class 'contact' %}">CONTACT</a></li>
        </ul>
    </nav>
</header>