/* ==========================
   Vani Photos Gallery Section
   ========================== */

.standard-container{
    width: 90%;
    margin: 3rem auto 0 auto;
}


/*Main Title*/

h1 {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  line-height: 1.2;
  color: maroon;
}

/*Gallery container*/

.gallery-container{
    display: grid;
    width: 90%;
    margin: auto auto;
    grid-template-columns: 1fr;
    column-gap: 10px;
}

h2.gallery-category{
    width: 90%;
    margin: 10px auto;
    color: black;
    font-style: italic;
}

.gallery-container h3{
    color: black;
    text-align: center;
    margin-bottom: 5px;
}

div.gallery-container > div{
    justify-self: center;
    margin-bottom: 20px;
}

div.gallery-container > div > iframe{
    max-width: 100%;
    width: 100%;
    height: 300;
    margin:0px;
    border-radius: 10px;
}

div.gallery-container > div > div > img{
    max-width: 100%;
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

div.gallery-container > div > div > img:hover{
    opacity: 60%;
}

div.gallery-container > div{
    width: 100%;
}

div.gallery-container > div > div.video-description, div.gallery-container > div > div.photo-description{
    padding: 5px;
    font-style: italic;
    text-align: center;
}

/*Video iFrames*/
 .video-container{
    aspect-ratio: 16 / 9;
    width: 100%;
        
    }

.video-container iframe{
    width: 100%;
    height: 100%;
    border: 0;
}

.empty-gallery{
    display: grid;
    grid-column: 1 / -1;
    text-align: center;
    font-style: italic;
}


/* ==========================
   Tablet & Up
   ========================== */

@media (min-width: 768px) {
    .gallery-container{
        grid-template-columns: 1fr 1fr;
    }
}


@media (min-width: 1024px) {
    .gallery-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (min-width: 1540px) {
    .gallery-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
   
}